
/*SITE SPECIFIC CSS*/

.journal-bg {
	background-color: #aaa;
}
.navbar {
	background-color: #757575;
}


.journal-header .journal-logo {
	width: 340px;
}
.journal-header .society-logo {
	width: 150px;
}


.widget-dynamic__underbar.journal-bg {
	background-color: #aaa;
}


.featurePanel {
	background-color: #aaa;
	background-image: url(//academic.oup.com/data/sitebuilderassetsoriginals/live/images/treephys/treephys_feature_panel.jpg);
}
.featurePanel .featurePanelInner {
	background-color: rgba(100,100,100,0.9);
}
.featurePanel h3 {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
}
.featurePanel h3, .featurePanel p, .featurePanel a, .featurePanel a:hover  {
	color: #f6f6f6 !important;
}

#cloudCMS .panels .widget-dynamic-title::after, #cloudCMS .panels .widgetHead h3::after, #cloudCMS .rowHead h3::after{
	background-color: #aaaaaa;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) {
	background-color: #aaaaaa;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) .rowHead h3 {
	color: #2a2a2a;
}
#cloudCMS .row:nth-child(4):not(.relatedJournals) .rowHead h3::after {
	background-color: #2a2a2a;
}

.journal-footer.journal-bg {
	background-color: #757575;
}
img.journal-footer-affiliations-logo {
	width: 280px;
}